[[source]]
name = "pypi"
url = "https://pypi.org/simple/"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
flake8 = "*"
selenium = "*"
fabric = "*"
pytest = "*"
pytest-django = "*"
django-dynamic-fixture = "*"
pytest-cov = "*"
freezegun = "*"
django-silk = "*"
factory-boy = "*"
django-test-plus = "*"
pytest-sugar = "*"
"tl.testing" = "*"
mkdocs = "*"

[packages]
django = "~=2.2"
django-allauth = "*"
django-contrib-comments = "*"
django-mptt = "*"
django-notifications-hq = "*"
django-haystack = "*"
django-model-utils = "*"
django-braces = "*"
django-imagekit = "*"
django-anymail = "*"
django-environ = "*"
django-extensions = "*"
django-webpack-loader = "*"
djangorestframework = "*"
django-pure-pagination = "*"
pytz = "*"
markdown = "*"
beautifulsoup4 = "*"
pillow = "*"
whoosh = "*"
jieba = "*"
gunicorn = "*"
pymdown-extensions = "*"
django-constance = {extras = ["database"],version = "*"}
django-admin-sortable2 = "*"
django-celery-email = "*"
django-ratelimit = "*"
pygments = "*"

[requires]
python_version = "3"
