{% if is_paginated %}
  <div class="flex-center">
    <ul class="pagination">
      <li class="pagination-item"><a href=""><i class="remixicon-arrow-left-s-line"></i></a></li>
      <li class="pagination-item"><a href="">1</a></li>
      <li class="pagination-item"><a href="">···</a></li>
      <li class="pagination-item"><a href="">2</a></li>
      <li class="pagination-item active"><a href="">3</a></li>
      <li class="pagination-item"><a href="">4</a></li>
      <li class="pagination-item"><a href="">···</a></li>
      <li class="pagination-item"><a href="">5</a></li>
      <li class="pagination-item"><a href=""><i class="remixicon-arrow-right-s-line"></i></a></li>
    </ul>

    {#    {% if page_obj.has_previous %}#}
    {#      <a href="?page={{ page_obj.previous_page_number }}" class="unit-0 prev"><i class="fa fa-long-arrow-alt-left"#}
    {#                                                                                 aria-hidden="true"></i></a>#}
    {#    {% endif %}#}
    {#    <a href="" class="unit"></a>#}
    {#    {% if page_obj.has_next %}#}
    {#      <a href="?page={{ page_obj.paginator.num_pages }}" class="unit-0 next"><i class="fa fa-long-arrow-alt-right"#}
    {#                                                                                aria-hidden="true"></i></a>#}
    {#    {% endif %}#}
  </div>
{% endif %}