@import 'variables';

.back-top {
    opacity: 0;
    position: fixed;
    bottom: $width-gap-double;
    right: $width-gap;
    font-size: $font-size-h3;
    color: $color-text;
    z-index: 100;
    cursor: pointer;
    transition: opacity 0.5s ease-in;
}

.back-top.fade-in {
    opacity: 1;
}

@media (max-width: 768px) {
    .back-top {
        right: $width-gap;
    }
}
