@import "variables";

.back-top {
  display: none;
  position: fixed;
  bottom: $width-gap-double;
  right: $width-gap;
  font-size: $font-size-h3;
  color: $color-text;
  z-index: 100;
  cursor: pointer;
}

@media (max-width: 768px) {
  .back-top {
    right: $width-gap;
  }
}