.codehilite {
  padding: 0;
}

/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: right;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;
}

.hljs-ln-n {
  width: 30px;
}

/* for block of code */
.hljs-ln .hljs-ln-code {
  padding-left: 10px;
  white-space: pre;
}