@import "variables";

.highlight pre {
  margin-top: 0;
}

.literal-block {
  .code-block-caption {
    background-color: $color-info-faded;
    padding: $width-gap-half $width-gap;
    font-size: $font-size-small;
  }

  .highlight pre {
    .lineno {
      margin-right: 0.3rem;
    }
  }
}