// with and height
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

// margin
.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.show {
  display: block;
}

