[program:django-blog-project-celery-beat]
directory=/home/alice/apps/django-blog-project
command=/home/alice/.local/bin/poetry run celery -A blogproject.taskapp beat -l INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler
autostart=true
startsecs=1
startretries=3
autorestart=unexpected
stopasgroup=true
killasgroup=true
user=alice