upstream blogproject  {
    server 127.0.0.1:8000;
}

server {
    listen 80;
    server_name _;
    charset utf-8;
    client_max_body_size 10M;
    location /static {
        alias /var/www/django-blog-project/static;
    }
    location /media {
        alias /home/ubuntu/apps/django-blog-project/blogproject/media;
    }
    location / {
        include /etc/nginx/includes/proxy.conf;
        proxy_pass http://blogproject;
    }
}