<meta charset="utf-8">
<div class="content-wrap"
     style="margin: 0px auto; overflow: hidden; padding: 0px; border: 0px dotted rgb(238, 238, 238); width: 600px;">
  <!---->
  <div class="full" tindex="1" style="margin: 0px auto; max-width: 600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 600px;">
      <tbody>
      <tr>
        <td style="direction: ltr; width: 600px; font-size: 0px; padding-bottom: 0px; text-align: center; vertical-align: top; background-image: url(&quot;&quot;); background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
          <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"
                 style="vertical-align: top;">
            <tr>
              <td align="left" style="font-size: 0px; padding: 20px;">
                <div class="text"
                     style="font-family: &quot;Microsoft YaHei&quot;; overflow-wrap: break-word; margin: 0px; text-align: center; line-height: 20px; color: rgb(102, 102, 102); font-size: 14px; font-weight: normal;">
                  <div><h2 style="line-height: 36px; font-size: 1.5em; font-weight: bold; margin: 0px;">
                    欢迎订阅每周精选收藏<strong>﻿</strong></h2></div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="full" tindex="2" style="margin: 0px auto; max-width: 600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 600px;">
      <tbody>
      <tr>
        <td style="direction: ltr; width: 600px; font-size: 0px; padding-bottom: 0px; text-align: center; vertical-align: top; background-image: url(&quot;&quot;); background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
          <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"
                 style="vertical-align: top;">
            <tr>
              <td align="left" style="font-size: 0px; padding: 0px;">
                <div class="text"
                     style="font-family: &quot;Microsoft YaHei&quot;; overflow-wrap: break-word; margin: 0px; text-align: center; line-height: 20px; color: rgb(68, 68, 68); font-size: 12px; font-weight: normal;">
                  <div>
                    <p style="text-size-adjust: none; word-break: break-word; line-height: 20px; font-size: 12px; margin: 0px;">
                      请点击下方按钮确认订阅</p></div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="full" tindex="3" style="margin: 0px auto; max-width: 600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 600px;">
      <tbody>
      <tr>
        <td align="center" vertical-align="middle"
            style="font-size: 0px; word-break: break-word; width: 600px; padding: 10px 20px; background-image: url(&quot;&quot;); background-size: 100px; background-position: 10% 50%; background-repeat: no-repeat;">
          <table align="center" border="0" cellpadding="0" cellspacing="0"
                 style="border-collapse: separate; line-height: 1;">
            <tr>
              <td align="center" bgcolor="rgb(87, 163, 255)" valign="middle"
                  style="line-height: 1; background-color: rgb(87, 163, 255); padding: 10px 30px; cursor: auto;"><p
                      style="font-family: &quot;Microsoft YaHei&quot;; margin: 0px; color: rgb(255, 255, 255); line-height: 1; font-size: 12px; font-weight: normal; text-decoration: none; text-transform: none;">
                <a href="{{ link }}">确认订阅</a></p></td>
            </tr>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>