.category {
  font-size: 1.8rem;
  font-weight: 600;
}

.category__logo {
  width: 1.8rem;
  margin-right: 0.5rem;
}

.category:before, .category:after {
  content: "";
  width: 8rem;
  border-top: 0.1rem #b2bbbe solid;
  display: inline-block;
  vertical-align: middle;
}

.category:before {
  margin-right: 10px;
}

.category:after {
  margin-left: 10px;
}

.course {
  margin-bottom: 1.5rem;
}

.course__img {
  border-radius: 3px;
}

.course__title {
  margin-top: 0.5rem;
}

.course__progress {
}

.course__progress_writing {
  color: #41ae3c;
}

.course__progress_finished {
  color: #ee3f4d;
}

.course__progress:before {
  content: '·';
  margin: 0 0.3rem;
  font-weight: 600;
  color: #b2bbbe;
}

.course__meta {
  margin-top: 0.5rem;
}

.course__level {
}

.course__level_elementary {
  color: #4c1f24;
}

.course__level_intermediate {
  color: #1661ab;
}

.course__level_advanced {
  color: #f97d1c;
}

.course__views {
  margin-left: 0.8rem;
}

.course__brief {
  margin-top: 0.5rem;
  color: #93999f;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.course__meta, .course__brief {
  font-size: 1.2rem;
}