.donate-wrapper {
  position: relative;
}

.donate-panel {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateY(-100%);
  z-index: 10;
}

.donate {
  display: none;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 4%;
  border: 1px #eee solid;
  -moz-box-shadow: 10px 10px 5px #eee; /* 老的 Firefox */
  box-shadow: 10px 10px 5px #eee;
}

.donate__provider-tabs, .donate__amount-tabs, .donate__qrcode {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    white-space: nowrap;
  }
}

.provider-tabs_item_active {
  color: blue;
  border-bottom: 2px blue solid;
}

.donate__provider-tabs li, .donate__amount-tabs li, .donate__qrcode li {
  display: inline-block;
  cursor: pointer;
}


.qrcode__img {
  width: 20rem;
  display: none;
}

.qrcode__img_show {
  display: block;
}

.donate__provider-tabs li {
  margin: 0 0.5rem;
  padding: 0.1rem 0.2rem;
}

.donate__amount-tabs li {
  margin: 0 0.5rem;
}

.amount-tabs_item_active {
  color: red;
}