@import "variables";

.navbar {
  width: 100%;

  a {
    text-decoration: none;
  }

  .navbar-logo {
    font-size: $font-size-h4;
    color: $color-text;
    line-height: 1;
  }

  .navbar-item {
    display: inline-flex;
    color: $color-text-muted;
    margin-left: $width-gap-double;

    &:hover {
      color: $color-primary;
    }
  }
}

.search-form, .search-form-mobile {
  input[type=search] {
    background-color: transparent;
    border: none;
    padding-left: 0.5rem;
    outline: 0;
  }
}

.search-form {
  input[type=search] {
    border-left: $width-border * 2 solid $color-border;
    font-size: $font-size-small;

    &:focus {
      border-left: $width-border* 2 solid $color-primary;
    }
  }

  button[type=submit] {
    cursor: pointer;
    border: 0;
    background-color: transparent;

    &:focus {
      border: 0;
      outline: 0;
    }
  }
}

.search-form-mobile-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $color-background;
  z-index: 100;

  .search-form-mobile {
    width: 100%;
    padding: $width-gap $width-gap-half;

    input[type=search] {
      width: 100%;
    }
  }
}