@import "variables";

.pagination {
  list-style: none;
  padding-left: 0;

  .pagination-item {
    display: inline-block;
    padding: 0 $width-gap-half;
  }

  .active a {
    color: $color-text;
  }
}