@import "variables";

.blog-post-list {
  a {
    text-decoration: none;
  }

  .blog-entry-title a {
    color: $color-text;
  }

  .meta-item {
    margin-right: $width-gap-half;
  }

  // more gap
  .bfc {
    display: inline-block;
  }
}

.blog-entry-meta {
  .meta-item {
    margin-right: $width-gap-half;
    text-decoration: none;
  }
}


.blog-badge {
  border: $width-border solid $color-border;
  border-radius: $width-border-radius;
  padding: .15rem .25rem;
  font-size: $size-base;
  color: $color-danger;
  line-height: 1;
}